body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    background-color: #dadada;
    text-align: center;
    padding: 1em;

    nav ul {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
    }

    nav li {
        margin-right: 20px;
    }

    nav a {
        text-decoration: none;
        color: black;
    }
}



.sort-by-container {
    text-align: right; /* Align the container content to the right */
    margin-right: 20px; /* Add some margin for spacing */
}

header img {
    width: 100%; /* Make the logo responsive */
    height: auto;
    max-width: 120px; /* Set the max width to maintain aspect ratio */
}

.container {
    max-width: 100%; /* Make the container responsive */
    margin: 0 auto;
    padding: 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.product-card {
    border: 1px solid #9ed7ff;
    padding: 10px;
    text-align: center;
    background-color: rgb(236, 235, 235);
    border-radius: 8px;
}

.product-image {
    width: 100%; /* Make the product image responsive */
    height: auto;
}

.shopping-cart {
    position: fixed;
    top: 20px;
    right: 20px;
    /* Add other styling properties if necessary */
}

.content {
    text-align: center; /* Center the text within the .content div */
}


